In [79]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import date

In [80]:
df = pd.read_csv('glassdoor_jobs_cleaned.csv')

In [81]:
df.head()

,company,job title,location,job description,salary estimate,company_size,company_type,company_sector,company_industry,company_founded,...,r,java,scala,sql,spark,aws,azure,airflow,snowflake,git
0,Tecolote Research\r\n,Data Scientist,"Albuquerque, NM","Data Scientist\r\nLocation: Albuquerque, NM\r\...",72.0,501 to 1000 employees,Company - Private,Aerospace & Defense,Aerospace & Defense,1973,...,1,0,0,0,0,0,0,0,0,0
1,University of Maryland Medical System\r\n,Healthcare Data Scientist,"Linthicum, MD",What You Will Do:\r\n\r\nI. General Summary\r\...,87.5,10000+ employees,Other Organization,Health Care,Health Care Services & Hospitals,1984,...,1,1,0,0,0,0,0,0,0,0
2,KnowBe4\r\n,Data Scientist,"Clearwater, FL","KnowBe4, Inc. is a high growth information sec...",85.0,501 to 1000 employees,Company - Private,Business Services,Security Services,2010,...,1,0,0,1,1,0,0,0,0,0
3,PNNL\r\n,Data Scientist,"Richland, WA",*Organization and Job ID**\r\nJob ID: 310709\r...,76.5,1001 to 5000 employees,Government,"Oil, Gas, Energy & Utilities",Energy,1965,...,1,0,0,0,0,0,0,0,0,0
4,Affinity Solutions\r\n,Data Scientist,"New York, NY",Data Scientist\r\nAffinity Solutions / Marketi...,114.5,51 to 200 employees,Company - Private,Business Services,Advertising & Marketing,1998,...,1,0,0,1,0,0,0,0,0,0

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 457 entries, 0 to 456
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   company           457 non-null    object
 1   job title         457 non-null    object
 2   location          457 non-null    object
 3   job description   457 non-null    object
 4   salary estimate   457 non-null    float64
 5   company_size      457 non-null    object
 6   company_type      457 non-null    object
 7   company_sector    457 non-null    object
 8   company_industry  457 non-null    object
 9   company_founded   457 non-null    int64
 10  state code        457 non-null    object
 11  company_age       457 non-null    int64
 12  python            457 non-null    int64
 13  r                 457 non-null    int64
 14  java              457 non-null    int64
 15  scala             457 non-null    int64
 16  sql               457 non-null    int64
 17  spark             457 non-null    int64
 18  aws               457 non-null    int64
 19  azure             457 non-null    int64
 20  airflow           457 non-null    int64
 21  snowflake         457 non-null    int64
 22  git               457 non-null    int64
dtypes: float64(1), int64(13), object(9)
memory usage: 82.2+ KB

In [83]:
def title_simplifier(title):
    if 'data scientist' in title.lower():
        return 'date scientist'
    elif 'data engineer' in title.lower():
        return 'data engineer'
    elif 'data analyst' in title.lower():
        return 'data analyst'
    elif 'machine learning' in title.lower():
        return 'ml engineer'
    elif 'manager' in title.lower():
        return 'manager'
    elif 'director' in title.lower():
        return 'director'
    else:
        return 'na'

def seniority(title):
    if 'senior' in title.lower() or 'principal' in title.lower() or 'lead' in title.lower():
        return 'Senior'
    elif 'junior' in title.lower() or 'jr' in title.lower():
        return 'Junior'
    else :
        return 'na'

In [84]:
#Simplify Job title and seniority
df['job title simp'] = df['job title'].apply(title_simplifier)
df['seniority'] = df['job title'].apply(seniority)

In [85]:
df['job title simp'].value_counts()

date scientist    192
na                 92
data engineer      75
data analyst       67
manager            12
ml engineer        11
director            8
Name: job title simp, dtype: int64

In [86]:
df['seniority'].value_counts()

na        335
Senior    119
Junior      3
Name: seniority, dtype: int64